pandas
# is this ok? (I have it installed via the ubuntu repos)
scikit-learn
pygal
# does this installs everything needed for ipython notebook?:
ipython
numpy>=1.22.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
